

/* style sheet for index1.html */

/* external, internal, inline */


/* headings */
header{
	background: #666666;
	text-align: center;
}

body {
	background: #B3B3B3;
	font-size: 150%;
	margin: 4%;
}


h2 {
	background: #4D607F;
	color: #9AC1FF;
	text-align: center;
}

h1{
	color: #FFFFFF;
}

nav{
	font-family: small-caps;
	font-size: 150%;
	font-family: Arial, "Times New Roman", Serif;
}

details{
	font-style: italic;

}

summary {
	font-style: normal;

}

footer {
	background: #666666;

}



/* CHECK THE DIV SETTING BELOW - REMOVE FOR PROJCT */
/*
div {
	border: solid 1 px #CC00AA;
}


    */

/* classes */





/*id */


